body {
    margin: 2%;
}


h1, h2, h3, h4, h5, h6 {
    background-color: orangered;
    text-align: center;
}


p {
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
}


b, i {
    color: red;
}

h2 {
    color: chocolate;
}


